body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

#container section {
    width: 25%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    border: #f2b1bc;
    border-width: thin;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
}

#container section img {
    margin: 0 auto;
    height: 50%;
    width: 50%;
}

#container section h1{
    margin: 0 auto;
}

#container section p{
    margin: 1em auto;
}

