body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

#container section {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

#container section h1{
    margin: 0 auto;
}

#container section p{
    margin: 0 auto;
}

